:root{
    --color-primary : #fcdb00;
    --text-color-primary : #010101;
    --text-color-sec : #313841;
    --text-color-tri : #555555;
    --text-color-qurt : #898989;
    --color-dark : #000000;
    --color-white : #ffffff;
    


}

ul{
    list-style: none;
    padding: 0;
}

a:link, a:visited{
    text-decoration: none;
}



.pri-heading{
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color-primary);
    margin-bottom: 20px;
}

.sec-heading{
    font-size: 20px;
    font-weight: normal;
    color: var(--text-color-sec);
    margin-bottom: 20px;

}

.para{
    font-size: 16px;
    font-weight: normal;
    color: var(--text-color-tri);
    margin-bottom: 30px;
}